body {
  margin: 0;
  padding: 0;
}
button {
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
footer {
  margin-top: 20px;
  color: #6c757d;
}
footer a {
  text-decoration: none;
}
hr {
  margin: 15px 0;
}
li {
  list-style: none;
  margin-bottom: 5px;
}
#todoForm {
  display: flex;
}
#todoForm button {
  background: #0d6efd;
  padding: 8px;
}
#todoForm button,
#todoInput,
.todo-item .text {
  font-size: 20px;
}
#todoInput {
  flex-grow: 1;
  margin-right: 3px;
  width: 250px;
}
.todo-item {
  align-items: center;
  display: flex;
}
.todo-item .check {
  width: 17px;
  height: 17px;
}
.todo-item .delete {
  font-size: 18px;
  background: #dc3545;
}
.todo-item .delete,
.todo-item .text {
  margin-left: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
#root {
  margin: 10px auto;
  padding: 0 10px;
}
@media (min-width: 576px) {
  #root {
    width: 500px;
  }
}
